
body{
background:#111;
color:#fff;
text-align:center
}
header,footer{
background:#1d2327;
padding:15px
}
section{
background:#e65054;
margin:10px;
padding:10px
}
li{
list-style:none;
background:#3c434a;
margin:5px;
padding:5px
}